.177_2 { 
	overflow:hidden;
}
.e177_2 { 
	background-color:rgba(56.000000461936, 56.000000461936, 56.000000461936, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	
}
.e182_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e180_12 { 
	width: 502px;
    height: 287px;
    position: absolute;
    left: 700px;
    top: 264px;
    background-image: url(images/logo2_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.e180_13 { 
	color:rgba(255, 255, 255, 1);
	width:93px;
	height:25px;
	position:absolute;
	left:616px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e180_17 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:25px;
	position:absolute;
	left:394px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e180_16 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:25px;
	position:absolute;
	left:486px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e180_15 { 
	color:rgba(255, 255, 255, 1);
	width:131px;
	height:25px;
	position:absolute;
	left:915px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e180_14 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:25px;
	position:absolute;
	left:741px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.links{
	position: absolute;
    left: 16%;
}
.barra{
	position: absolute;
    top: 650px;
    left: -8px;
    width: 1444px;
    height: 1024px;
}
img{
	position: absolute;
    width: 1905px;
    height: 500px;
}
.msg1{
	position: absolute;
    width: 350px;
    height: 55px;
    left: 1378px;
    top: 875px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.msg2{
	position: absolute;
    width: 850px;
    left: 89px;
    top: 734px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: inherit;
    font-size: 19px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
}
.login1{
	position: absolute;
    top: 1200px;
    left: 100px;
    width: 1444px;
    height: 1024px;
}
.login2{
	position: absolute;
    top: 1200px;
    left: 1300px;
    width: 1444px;
    height: 1024px;
}